.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 90px;
  background-image: url("../images/about-bg.jpg");
  background-position: center;
  background-size: cover;
}

.about__steps {
  width: 40%;
  margin-top: 50px;
}

.about__step {
  margin: 0;
  color: var(--brown-rust);
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}

.about__description {
  margin-top: 10px;
  margin-bottom: 40px;
  color: var(--mirage);
  font-size: 24px;
}
