.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding-right: 90px;
  padding-left: 90px;
  background-color: #000;
  opacity: 0.75;
}

.footer__logo {
  margin: 0;
  color: var(--bright-sun);
  font-family: var(--logo-font);
  font-size: 50px;
  font-weight: normal;
  text-transform: lowercase;
}

.footer__copyright {
  color: var(--concrete);
  font-size: 18px;
}

.footer__top {
  display: flex;
  align-items: center;
}

.footer__top-text {
  margin-right: 10px;
  color: var(--bright-sun);
  text-transform: uppercase;
}

.footer__link {
  text-decoration: none;
}
