.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
  font-family: var(--logo-font);
  font-size: 60px;
  font-weight: normal;
  color: var(--bright-sun);
  text-transform: lowercase;
}

.header__link {
  color: var(--concrete);
  text-decoration: none;
}

.header__link:hover {
  color: var(--bright-sun);
}

.header__navigation-item {
  display: inline;
  margin-left: 20px;
  list-style: none;
  font-size: 24px;
  color: var(--concrete);
}

.header__button {
  padding: 5px 10px;
  border: 2px solid var(--bright-sun);
  border-radius: 5px;
  cursor: pointer;
}

.header__button--primary {
  background-color: var(--bright-sun);
  color: var(--mirage);
}

.header__button--primary:hover {
  background-color: var(--concrete);
  color: var(--mirage);
  border-color: var(--concrete);
}

.header__button--secondary {
  border-color: var(--bright-sun);
  color: var(--bright-sun);
}

.header__button--secondary:hover {
  border-color: var(--concrete);
  color: var(--concrete);
}